/* Variables for colors */
:root {
    --main-color: #658864;
    --text-color: #EEEEEE;
    --seconday-color: #B7B78A;
    --third-color: #DDDDDD;
}

.header {
    display: flex;
    justify-content: center;
    font-family: "Cairo", sans-serif; 
    font-weight: bolder;
    font-size: 48px;
    color: var(--text-color);
}

.header p {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.score {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: vair(--text-color);
}

.footer {
    display: flex;
    justify-content: center;
}

/* Remove padding around div's, make it flush */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

img {
    height: 150px;
    width: 200px;
}